# by default Travis uses JDK 8u31, which is much too old for Scala 2.12 (versions before 8u102 have issues - https://issues.scala-lang.org/browse/SI-9828)
dist: trusty
sudo: false

language: scala

scala:
  - 2.12.4
  - 2.11.12

jdk: oraclejdk8

script: sbt ++$TRAVIS_SCALA_VERSION clean coverage test

after_success: sbt ++$TRAVIS_SCALA_VERSION coverageReport coveralls

notifications:
  slack:
    on_success: never
    on_failure: always
    rooms:
      secure: "MU7qC8SWczmrR5iz+SMoXaIxWMpCbkjQs7M0EgMDylesGY9LvqVHLJuBwl7LghqICHeyMDBv7v/o4I5OTowil4IThNIIJ4gwa9JSqdxfQQnhVTOf0K3/1WJe4DQEqyUOvcAsWOs95Zi/YROcC+GbiipU01H7sXcAb0LHOw+P7Z/LmsD2pANi/Io2BB+XXmiWDhK/XstgBE6ZQZMsttZrH1amjCZK/1d39OSGe0ZZYItVcaOnkUFV7BuQoZFGqyHJ9xBTBQw1L1zhcmzp0tMXqdTHtsOFEhesAeC9WpdIZQWk794FTKXT46quJjVJk1fKN2dWf6j19HmmRNvDTN4uol2MXtG3qqhJGIuZRHfd7Hn5au1Cbr4hYkWRFnjitRzqtdiVlYVVy3/QZA8Twl4k/U9k+hjKPfvkcJNivmlCqZQzZzP+QjRjpF4AmYWq+fOqOvg7hJANidbLIKvBLXTqBqoXJALAGGGji2U9jrvqgbf3Fjrqjuv2+DIN85aF+MkZ7bGP6Cy9et9ymmoRuQ5uCw3wUMg8rZMmsb9w6cQaP9aCsBz5g0vFyF9ITMcBD8gFuLVkMgHeOXC2ShLgbSlRobCBt07RSe3oXFsZtgGFHoi/+lFCeI3kE5W6NSJ+j6J76LjHhjrA05t4F4cDeu/UKc0Yp0dWgpcg+SYkLPbNpnY="

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete